* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #77b1f3, #a1adbe);
}

/* WEATHER CARD */
.weather-card {
    width: 330px;
    min-height: 560px;
    background: rgba(120, 161, 207, 0.35);
    backdrop-filter: blur(14px);
    border-radius: 24px;
    padding: 22px;
    color: #fff;
    box-shadow: 0 25px 45px rgba(0,0,0,0.25);
}


/* SEARCH */
.search-box {
    display: flex;
    margin-bottom: 24px;
}

.search-box input {
    flex: 1;
    padding: 12px 16px;
    border-radius: 12px 0 0 12px;
    border: none;
    outline: none;
    font-size: 14px;
}

.search-box button {
    padding: 12px 16px;
    border-radius: 0 12px 12px 0;
    border: none;
    background: rgba(255,255,255,0.25);
    color: #fff;
    cursor: pointer;
}

/* LOCATION & DATE */
.location-date {
    display: flex;
    justify-content: space-between;
    margin-bottom: 22px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
}

/* MAIN WEATHER */
.weather-main {
    text-align: center;
    margin-bottom: 28px;
}

#icon {
    font-size: 64px;
    color: #fff;                         
    background: rgba(255,255,255,0.18);
    padding: 14px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

#temp {
    font-size: 42px;
    font-weight: 700;
    color: #fff;
}

/* INFO BOXES */
.weather-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 28px;
}

.info-box {
    width: 48%;
    background: rgba(255,255,255,0.2);
    border-radius: 18px;
    padding: 14px 10px;
    text-align: center;
    color: #fff;
}

.info-icon {
    font-size: 22px;
    margin-bottom: 6px;
}

.label {
    font-size: 13px;
    opacity: 0.85;
}

.value {
    font-size: 15px;
    font-weight: 600;
    display: block;
    margin-top: 4px;
}

/* FORECAST */
.forecast {
    display: flex;
    justify-content: space-between;
}

.forecast .day {
    width: 31%;
    background: rgba(255,255,255,0.22);
    border-radius: 18px;
    padding: 14px 6px;
    text-align: center;
    color: #fff;
}

.weather-icon {
    font-size: 22px;
    margin-bottom: 8px;
}

.forecast .date {
    font-size: 12px;
    opacity: 0.85;
}

.forecast .temp {
    font-size: 15px;
    font-weight: 600;
    margin-top: 2px;
}
@media (max-width: 380px){
  .forecast {
    flex-direction: column;
    gap: 10px;
  }
  .forecast .day {
    width: 100%;
  }
}
    
